#####################################################
#                                                   #
#     _____  ________      ______  _____   _____    #
#    |  __ \|  ____\ \    / / __ \|  __ \ / ____|   #
#    | |  | | |__   \ \  / / |  | | |__) | (___     #
#    | |  | |  __|   \ \/ /| |  | |  ___/ \___ \    #
#    | |__| | |____   \  / | |__| | |     ____) |   #
#    |_____/|______|   \/   \____/|_|    |_____/    #
#                                                   #
#                                                   # 
# Ansible managed configuration /etc/motd           #
#####################################################                                                   
{% for item in motd_info %}
{% for key, value in item.iteritems() %}
{{ key }}{{ value }}
{% endfor %}
{% endfor %}